@use "./variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
  background-color: $baseColor;
}

body {
  @include mq(lg) {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}