@use "../../../styles/variables" as *;

.nav {
  width: 100vw;
  height: 3rem;
  padding: 0 3%;
  position: fixed;
  bottom: 0;
  background-color: $gray;

  @include mq(lg) {
    width: 100%;
    height: 100vh;
    position: static;
    background-color: transparent;
  }

  &_ul {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include mq(lg) {
      padding-top: 5rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr) 1fr;
    }

    &_item {
      width: 100%;
      height: 2rem;

      @include mq(lg){
        height: 2.5rem;
      }

      & .item_link {
        display: inline-block;
        width: 2rem;
        aspect-ratio: 1/1;
        position: relative;

        @include mq(lg) {
          width: 2.5rem;
        }

        &_image {
          position: absolute;

          @include mq(lg){
            margin-left: -100%;
          }
        }

        &_name {
          display: none;

          @include mq(lg){
            display: inline-block;
            color: white;
            font-size: 1.5rem;
            line-height: 2.5rem;
            padding-left: 3rem;
          }
        }
      }
    }
  }
}