@use "../../../styles/variables" as *;

.nav {
  width: 100vw;
  height: 3rem;
  padding-left: 3%;
  position: fixed;
  bottom: 0;
  background-color: $gray;

  @include mq(lg) {
    width: 100%;
    height: 100vh;
    padding-left: 5%;
    position: static;
    background-color: transparent;
  }

  &_ul {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include mq(lg) {
      padding-top: 5rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr) 3fr;
    }

  }

  &_li {
    width: 100%;
    height: 2rem;

    @include mq(lg) {
      height: 4rem;
    }

    &_link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mq(lg) {
        justify-content: start;
        gap: 1rem;
        padding-left: 10%;
        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background-color: white;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 10px;
          transition: all .15s ease-in-out;
        }

        &:hover {
          &::before {
            opacity: .1;
          }
        }
      }

      & .image_container {
        width: 2rem;
        aspect-ratio: 1/1;
        position: relative;

        @include mq(lg) {
          width: 1.5rem;
        }

        &_img {
          width: 100%;
          height: 100%;
        }
      }

      & .name {
        display: none;

        @include mq(lg) {
          display: inline-block;
          color: white;
          font-size: 1rem;
          font-family: var(--font-en);
          line-height: 2.5rem;
        }
      }
    }
  }

  & .form {
    display: none;

    @include mq(lg) {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      padding-left: 5%;

      &::before{
        content: "";
        width: 100%;
        height: 4rem;
        position: absolute;
        background-color: white;
        border-radius: 10px;
        opacity: 0;
        transition: all .15s ease-in-out;
      }

      &:hover{
        &::before{
          opacity: .1;
        }
      }
    }

    &_button {
      font-family: var(--font-en);
      font-weight: bold;
      padding-left: 3rem;
    }
  }
}